:root {
    --white: #ffffff;
    --dark-green: #094036;
    --teal-green: #01a086;
    --green: #69af2f;
    --gray: #e4e7ec;
    --red: #c62828;
    --d-green: #008c72;
}

// $Width: 2160px;
// $Height: 3840px;