.btn {
  width: 600px;
  height: 150px;
  border-radius: 1000px;
  background: var(--white);
  color: var(--dark-green);
  line-height: 120%;
  letter-spacing: -0.02em;
  font-size: 50px;
  font-family: 'Inter';
  font-weight: 500;
  transition: all 0.3s ease-in;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-teal {
    background: var(--teal-green);
    color: var(--white);
  }

  &-grass {
    background: var(--green);
    color: var(--white);
  }

  &-red {
    background: var(--red);
    color: var(--white);
  }
}
